/*general*/
html{
    scroll-behavior: smooth;
}

:root {
    --cremita: #FFF9F4;
    --marron-oscuro: #160E00;
    --marron-claro: #8C7865;
    --marron-claro-hover: #A38F7D;
}

body {
    background-color: var(--cremita);
    color: var(--marron-oscuro);
    font-family: "DM Serif Display", serif;
    margin: 0;
    padding: 0;  
}

main {
    margin-bottom: 100px;
}

/* transiciones */
.itemform,
.enviar,
.cuenta,
.icono,
.crear-outfit, 
.nav-explorar-item,
.boton-agregar {
    transition: 0.3s;
}

header h1 {
    color: var(--marron-oscuro);
    text-align: center;
    font-size: 3em;
    margin: 0px;
    padding: 10px;
}

/* iniciar sesion */
.formulario {
    background-color: var(--marron-oscuro);
    color: var(--cremita);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 30px 50px;
    padding: 20px;
    border-radius: 20px;
}

.tituloform {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.itemform {
    background-color: var(--cremita);
    padding: 18px;
    border-radius: 30px;
    font-family: "DM Serif Display", serif;
    width: 230px;
    border: none;
}

.itemform:focus {
    outline: none;
    transform: scale(1.03);
}

.enviar {
    background-color: var(--marron-claro);
    padding: 14px;
    border-radius: 10px; 
    color: var(--cremita);
    font-family: "DM Serif Display", serif;
    width: 120px;
}

.enviar:hover {
    background-color: var(--marron-claro-hover);
    cursor: pointer;
    transform: scale(1.05);
}

.cuenta {
    text-align: center;
    font-size: 1.2em;
    color: var(--cremita);
}

.cuenta:hover {
    color: var(--marron-claro);
    text-decoration: none;
}

/* footer nav */
footer {
    background-color: var(--marron-oscuro);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    position: relative;
}

.seccion{
    flex: 1;
    text-align: center;
    border-right: 1px solid var(--cremita);
}

.sin-linea {
    border-right: none;
}

.icono img {
    width: 35px;
    height: 35px;
}

.crear-outfit {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-decoration: none;
    background-color: var(--marron-claro);
    color: var(--cremita);
    font-size: 3em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crear-outfit:hover {
    background-color: var(--marron-claro-hover);
    color: var(--cremita);
    transform: translateX(-50%) scale(1.1);
}

/* explorar */
.nav-explorar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 30px 0;
    list-style: none;
}

.nav-explorar li {
    margin: 0;
    padding: 0;
}

.nav-explorar-item {
    display: block;
    color: var(--marron-oscuro);
    font-size: 0.8em;
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--cremita);
    border-radius: 50px;
    border: 1px solid var(--marron-oscuro);
}

.nav-explorar-item:hover {
    background-color: var(--marron-claro);
    color: var(--cremita);
}

.tituloexplorar {
    text-align: center;
    font-size: 2em;
    margin: 0px 20px;
}

.seccionexplorar {
    font-size: 1.5em;
    margin: 10px 15px;
}

.contenedor-prendas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    margin: 0 30px;
}

.item-explorar {
    background-color: var(--marron-claro);
    border-radius: 15px;
    padding: 10px;
    width: 180px;
    height: 200px;
}

.img-prenda-explorar {
    width: 150px;
    height: 150px;
    margin-left: 15px;
    object-fit: cover;
    border-radius: 10px;
}

.titulo-prenda {
    text-align: left;
    font-size: 0.9em;
    margin: 5px 0;
    display: inline-block;
}

.boton-agregar {
    background-color: var(--cremita);
    color: var(--marron-oscuro);
    border: none;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 1em;
    display: inline-block;
    margin: 5px 11px;
}

.boton-agregar:hover {
    background-color: var(--marron-oscuro);
    color: var(--cremita);
    cursor: pointer;
}

/* armario */
.armario-titulo {
    text-align: left;
    font-size: 2em;
    margin: 0 10px;
}

.item-outfit {
    background-color: var(--marron-claro);
    border-radius: 15px;
    padding: 10px;
    width: 180px;
    height: 400px;
}

.img-outfit-explorar {
    width: 150px;
    height: 360px;
    margin-left: 15px;
    object-fit: cover;
    border-radius: 10px;
}